In [0]:
import pandas as pd
import numpy as np
from gensim.models import Word2Vec, KeyedVectors

import re
import nltk
from nltk.corpus import stopwords

In [6]:
df = pd.read_csv('quora_duplicate_questions.tsv', delimiter='\t')
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [7]:
df = df.drop(['id', 'qid1', 'qid2', 'is_duplicate'], axis=1)
df.head()

,question1,question2
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?

In [10]:
new_df = df['question1']
new_df = new_df.append(df['question2'])
new_df.shape

(808580,)

In [0]:
corpus = []
for question in new_df:
  question = re.sub('[^a-zA-Z]', ' ', str(question))
  question = question.lower()
  question = question.split()
  corpus.append(question)

In [21]:
for i in range(10):
  print(corpus[i])

['what', 'is', 'the', 'step', 'by', 'step', 'guide', 'to', 'invest', 'in', 'share', 'market', 'in', 'india']
['what', 'is', 'the', 'story', 'of', 'kohinoor', 'koh', 'i', 'noor', 'diamond']
['how', 'can', 'i', 'increase', 'the', 'speed', 'of', 'my', 'internet', 'connection', 'while', 'using', 'a', 'vpn']
['why', 'am', 'i', 'mentally', 'very', 'lonely', 'how', 'can', 'i', 'solve', 'it']
['which', 'one', 'dissolve', 'in', 'water', 'quikly', 'sugar', 'salt', 'methane', 'and', 'carbon', 'di', 'oxide']
['astrology', 'i', 'am', 'a', 'capricorn', 'sun', 'cap', 'moon', 'and', 'cap', 'rising', 'what', 'does', 'that', 'say', 'about', 'me']
['should', 'i', 'buy', 'tiago']
['how', 'can', 'i', 'be', 'a', 'good', 'geologist']
['when', 'do', 'you', 'use', 'instead', 'of']
['motorola', 'company', 'can', 'i', 'hack', 'my', 'charter', 'motorolla', 'dcx']

In [0]:
model = Word2Vec(corpus, size=32, min_count = 1)

In [0]:
king = model.wv['king']

In [0]:
man = model.wv['man']

In [0]:
woman = model.wv['woman']

In [29]:
print(king)
print(man)
print(woman)

[-2.5829005   1.9179722   1.146964    0.7492415  -0.6000157  -2.8341634
 -2.8278897  -0.731253   -0.02157602  0.6726361  -0.16747534  1.263601
  1.2125832  -2.1578298  -0.5957854   1.279929   -1.4611832   0.14727864
 -0.40092555  2.397424   -2.579857    0.7057467  -1.0831238  -1.5788301
  0.47483215 -3.8856914  -0.3877771  -0.49705458 -3.5843647  -1.1941504
  0.18059061  0.07606576]
[-4.222011   -0.17043875  3.9976332   4.443278   -0.01917488  0.2033211
  0.5469626  -2.0805604  -1.2902623  -2.6193213  -1.5731192  -1.591861
  2.0518582   0.4749743  -0.5929095   0.57914406 -2.8458517   1.8716403
 -0.87846935  1.5925093  -2.500882   -2.345689   -3.243591   -0.17216216
 -1.4763216  -1.0502725  -1.0638894   3.3106458  -4.143433   -2.6550996
  5.3808413   1.4558139 ]
[-3.237001    0.84142005  2.3160563   5.4998603  -1.4409931   0.3867548
  0.42073995 -2.1927316  -0.7462781  -3.2965071  -2.287409   -2.848653
  1.235986    1.3379674  -1.140569   -0.66565263 -4.312319    3.8630867
 -0.26279888  0.58208823 -2.5978756  -1.7554814  -4.4215083   1.1114552
 -1.7188497   0.0101186  -2.9609072   4.4982452  -4.3487043  -2.5484457
  5.4881473   0.5893974 ]

In [30]:
unknown = king - man + woman
print(unknown)

[-1.5978904   2.929831   -0.53461313  1.8058238  -2.021834   -2.65073
 -2.9541123  -0.8434242   0.5224082  -0.00454974 -0.88176525  0.006809
  0.396711   -1.2948368  -1.1434448   0.03513235 -2.9276505   2.138725
  0.21474493  1.387003   -2.6768508   1.2959543  -2.2610412  -0.29521275
  0.2323041  -2.8253005  -2.2847948   0.69054484 -3.789636   -1.0874965
  0.28789663 -0.79035074]

In [31]:
model.similar_by_vector(unknown)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `similar_by_vector` (Method will be removed in 4.0.0, use self.wv.similar_by_vector() instead).
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('prince', 0.8524366021156311),
 ('king', 0.8297630548477173),
 ('lee', 0.8151587247848511),
 ('elizabeth', 0.7999888062477112),
 ('queen', 0.7999544143676758),
 ('abraham', 0.7891779541969299),
 ('george', 0.7809760570526123),
 ('jr', 0.7792613506317139),
 ('bruce', 0.7725250124931335),
 ('mary', 0.7633032202720642)]